<div id="home-partial">
  <div id="home-partial-top" class="focus-parent" data-index="1">
    <ul>
      <li>
        <a href="#"
            id="home-partial-top-link-0"
            data-key-up="!leaveUp#home-partial-top"
            data-key-right="#home-partial-top-link-1"
            data-key-down="!leaveDown#home-partial-top"
            data-key-left="#home-partial-top-link-4"
            data-col="0"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-top-link-1"
            data-key-up="!leaveUp#home-partial-top"
            data-key-right="#home-partial-top-link-2"
            data-key-down="!leaveDown#home-partial-top"
            data-key-left="#home-partial-top-link-0"
            data-col="1"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-top-link-2"
            data-key-up="!leaveUp#home-partial-top"
            data-key-right="#home-partial-top-link-3"
            data-key-down="!leaveDown#home-partial-top"
            data-key-left="#home-partial-top-link-1"
            data-col="2"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-top-link-3"
            data-key-up="!leaveUp#home-partial-top"
            data-key-right="#home-partial-top-link-4"
            data-key-down="!leaveDown#home-partial-top"
            data-key-left="#home-partial-top-link-2"
            data-col="3"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-top-link-4"
            data-key-up="!leaveUp#home-partial-top"
            data-key-right="#home-partial-top-link-0"
            data-key-down="!leaveDown#home-partial-top"
            data-key-left="#home-partial-top-link-3"
            data-col="4"
            {{keyHandler}}>A link</a>
      </li>
    </ul>
  </div>
  <div id="home-partial-bottom" class="focus-parent" data-index="2">
    <ul>
      <li>
        <a href="#"
            id="home-partial-bottom-link-0"
            data-key-up="!leaveUp#home-partial-bottom"
            data-key-right="#home-partial-bottom-link-1"
            data-key-down="!leaveDown#home-partial-bottom"
            data-key-left="#home-partial-bottom-link-4"
            data-col="0"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-bottom-link-1"
            data-key-up="!leaveUp#home-partial-bottom"
            data-key-right="#home-partial-bottom-link-2"
            data-key-down="!leaveDown#home-partial-bottom"
            data-key-left="#home-partial-bottom-link-0"
            data-col="1"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-bottom-link-2"
            data-key-up="!leaveUp#home-partial-bottom"
            data-key-right="#home-partial-bottom-link-3"
            data-key-down="!leaveDown#home-partial-bottom"
            data-key-left="#home-partial-bottom-link-1"
            data-col="2"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-bottom-link-3"
            data-key-up="!leaveUp#home-partial-bottom"
            data-key-right="#home-partial-bottom-link-4"
            data-key-down="!leaveDown#home-partial-bottom"
            data-key-left="#home-partial-bottom-link-2"
            data-col="3"
            {{keyHandler}}>A link</a>
      </li>
      <li>
        <a href="#"
            id="home-partial-bottom-link-4"
            data-key-up="!leaveUp#home-partial-bottom"
            data-key-right="#home-partial-bottom-link-0"
            data-key-down="!leaveDown#home-partial-bottom"
            data-key-left="#home-partial-bottom-link-3"
            data-col="4"
            {{keyHandler}}>A link</a>
      </li>
    </ul>
  </div>
</div>