<div id="home-partial">
  <ul>
    <li><a href="#" id="home-partial-link-0" {{keyHandler '!leaveUp#home-partial' 'home-partial-link-1' '!leaveDown#home-partial' 'home-partial-link-4' 0}}>A link</a></li>
    <li><a href="#" id="home-partial-link-1" {{keyHandler '!leaveUp#home-partial' 'home-partial-link-2' '!leaveDown#home-partial' 'home-partial-link-0' 1}}>A link</a></li>
    <li><a href="#" id="home-partial-link-2" {{keyHandler '!leaveUp#home-partial' 'home-partial-link-3' '!leaveDown#home-partial' 'home-partial-link-1' 2}}>A link</a></li>
    <li><a href="#" id="home-partial-link-3" {{keyHandler '!leaveUp#home-partial' 'home-partial-link-4' '!leaveDown#home-partial' 'home-partial-link-2' 3}}>A link</a></li>
    <li><a href="#" id="home-partial-link-4" {{keyHandler '!leaveUp#home-partial' 'home-partial-link-0' '!leaveDown#home-partial' 'home-partial-link-3' 4}}>A link</a></li>
  </ul>
</div>