<div id="home-partial">
  <ul>
    <li><a href="#" id="home-partial-link-0" data-key-left="home-partial-link-4" data-key-right="home-partial-link-1" data-key-down="dynamic: leaveDown#home-partial" data-key-up="dynamic: leaveUp#home-partial">A link</a></li>
    <li><a href="#" id="home-partial-link-1" data-key-left="home-partial-link-0" data-key-right="home-partial-link-2" data-key-down="dynamic: leaveDown#home-partial" data-key-up="dynamic: leaveUp#home-partial">A link</a></li>
    <li><a href="#" id="home-partial-link-2" data-key-left="home-partial-link-1" data-key-right="home-partial-link-3" data-key-down="dynamic: leaveDown#home-partial" data-key-up="dynamic: leaveUp#home-partial">A link</a></li>
    <li><a href="#" id="home-partial-link-3" data-key-left="home-partial-link-2" data-key-right="home-partial-link-4" data-key-down="dynamic: leaveDown#home-partial" data-key-up="dynamic: leaveUp#home-partial">A link</a></li>
    <li><a href="#" id="home-partial-link-4" data-key-left="home-partial-link-3" data-key-right="home-partial-link-0" data-key-down="dynamic: leaveDown#home-partial" data-key-up="dynamic: leaveUp#home-partial">A link</a></li>
  </ul>
</div>