<ul class="menu-parent">
  {{#each items}}
    <li id="menu-link-{{name}}">
      <a href="#/section/{{name}}/" {{keyHandler 'dynamic: leaveUp#menu' 'right' 'dynamic: leaveDown#menu' 'left'}}>
        {{title}}
      </a>
      <ul class="menu-child">
        {{#each children}}
          <li id="menu-link-{{../name}}-{{name}}">
            <a href="#/section/{{../name}}/{{name}}/" {{keyHandler 'dynamic: leaveUp#menu' 'right' 'dynamic: leaveDown#menu' 'left'}}>
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>